{% style %}
  .grid.flex-grid {
    padding: 30px;
    margin-top: -30px;
  }
  .grid__item .shadow {
    padding: 50px 30px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    height: 100%;
  }
{% endstyle %}

<div class="grid__item {{ column_width }} text-{{ align_text }}" data-aos="row-of-3">
  <div class="shadow why-shadow">
  
  {%- if enable_image -%}
    <div style="{% if align_text == 'center' %}margin: 0 auto;{% endif %} max-width: 60px;">
      {%- if button_link != blank -%}
        <a href="{{ button_link }}">
      {%- endif -%}
      {%- if why_image != blank -%}
        <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: image.aspect_ratio }}%;">
          {%- assign img_url = why_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign width_image_1 = image_width_1 | times: 2 -%}
          
          <img class="lazyload"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080]"
              data-aspectratio="{{ why_image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ why_image.alt }}">
        </div>
      {%- else -%}
        <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
      {%- endif -%}
      {%- if button_link != blank -%}
        </a>
      {%- endif -%}
    </div>
  {%- endif -%}
  {%- if title != blank -%}
    <h3>{{ title }}</h3>
  {%- endif -%}
  {%- if text != blank -%}
    <div class="rte-setting text-spacing why-text">{{ text }}</div>
  {%- endif -%}
  {%- if button_label != blank -%}
    <a href="{{ button_link }}" class="btn why-btn ">
      {{ button_label }}
    </a>
  {%- endif -%}
  </div>
</div>