{% comment %} Why Buy Vidlogix popup modal - am {% endcomment %}

{% style %}
  h2.section-header__title {
    font-size: 18px;
  }
{% endstyle %}

{%- if section.settings.mode != 'disabled' -%}

<div class="why-buy-popup">
  <div
    id="NewsletterPopup-{{ section.id }}"
    class="modal modal--square modal--mobile-friendly"
    data-section-id="{{ section.id }}"
    data-section-type="newsletter-popup"
    data-test-mode="{% if section.settings.mode == 'testing' %}true{% else %}false{% endif %}">
    <div class="modal__inner">
      <div class="modal__centered medium-up--text-center">
        <div class="modal__centered-content">
          <div class="newsletter">
            <!-- Block Content -->
            <!-- Rich Text -->
            <div class="text-{{ section.settings.align_text }} page-width page-width--narrow">
              <div class="theme-block">
                {%- if section.settings.title_rich -%}
                  <br>
                  <h2 class="section-header__title">{{ section.settings.title_rich }}</h2>
                  <br><br>
                {%- endif -%}
                <div class="rte">
                  {%- if section.settings.text_rich  -%}
                    {{ section.settings.text_rich }}
                  {%- endif -%}
                  <br>
                </div >
              </div>
            </div>
            <!-- 1ST 4 BLOCKS -->
            <div class="grid flex-grid grid--uniform grid--flush-bottom">
              {%- assign column_width = 'medium-up--one-quarter' -%}
              {% render 'why-buy-blocks', column_width: column_width, align_text: section.settings.align_text_A, enable_image: section.settings.enable_image_1, 
                  why_image: section.settings.image_1, title: section.settings.title_1, text: section.settings.text_1, 
                  button_label: section.settings.button_label_1, button_link: section.settings.button_link_1 %}
              {% render 'why-buy-blocks', column_width: column_width, align_text: section.settings.align_text_A, enable_image: section.settings.enable_image_2, 
                  why_image: section.settings.image_2, title: section.settings.title_2, text: section.settings.text_2, 
                  button_label: section.settings.button_label_2, button_link: section.settings.button_link_2 %}
              {% render 'why-buy-blocks', column_width: column_width, align_text: section.settings.align_text_A, enable_image: section.settings.enable_image_3, 
                  why_image: section.settings.image_3, title: section.settings.title_3, text: section.settings.text_3, 
                  button_label: section.settings.button_label_3, button_link: section.settings.button_link_3 %}
              {% render 'why-buy-blocks', column_width: column_width, align_text: section.settings.align_text_A, enable_image: section.settings.enable_image_4, 
                  why_image: section.settings.image_4, title: section.settings.title_4, text: section.settings.text_4, 
                  button_label: section.settings.button_label_4, button_link: section.settings.button_link_4 %}
            </div>
            <!-- MIDDLE BLOCK -->
            <div class="grid flex-grid grid--uniform grid--flush-bottom">
              {%- assign column_width = '' -%}
              {% render 'why-buy-blocks', column_width: column_width, align_text: section.settings.align_text_B, enable_image: section.settings.enable_image_B, 
                  why_image: section.settings.image_B, title: section.settings.title_B, text: section.settings.text_B, 
                  button_label: section.settings.button_label_B, button_link: section.settings.button_link_B %}
            </div>
            <!-- LAST 4 BLOCKS -->
            <div class="grid flex-grid grid--uniform grid--flush-bottom">
              {%- assign column_width = 'medium-up--one-quarter' -%}
              {% render 'why-buy-blocks', column_width: column_width, align_text: section.settings.align_text_C, enable_image: section.settings.enable_image_5, 
                  why_image: section.settings.image_5, title: section.settings.title_5, text: section.settings.text_5, 
                  button_label: section.settings.button_label_5, button_link: section.settings.button_link_5 %}
              {% render 'why-buy-blocks', column_width: column_width, align_text: section.settings.align_text_C, enable_image: section.settings.enable_image_6, 
                  why_image: section.settings.image_6, title: section.settings.title_6, text: section.settings.text_6, 
                  button_label: section.settings.button_label_6, button_link: section.settings.button_link_6 %}
              {% render 'why-buy-blocks', column_width: column_width, align_text: section.settings.align_text_C, enable_image: section.settings.enable_image_7, 
                  why_image: section.settings.image_7, title: section.settings.title_7, text: section.settings.text_7, 
                  button_label: section.settings.button_label_7, button_link: section.settings.button_link_7 %}
              {% render 'why-buy-blocks', column_width: column_width, align_text: section.settings.align_text_C, enable_image: section.settings.enable_image_8, 
                  why_image: section.settings.image_8, title: section.settings.title_8, text: section.settings.text_8, 
                  button_label: section.settings.button_label_8, button_link: section.settings.button_link_8 %}
            </div>
            <!-- END TEXT-COLUMNS -->
          </div>
        </div>
        <button type="button" class="modal__close js-modal-close text-link">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
          <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
        </button>
      </div>
    </div>
  </div>
</div>

{%- endif -%}

{% schema %}
  {
    "name": "Why Buy Popup",
    "class": "index-section--hidden",
    "settings": [
      {
        "type": "select",
        "id": "mode",
        "label": "Display mode",
        "default": "testing",
        "options": [
          {
            "value": "enabled",
            "label": "Enabled"
          },
          {
            "value": "testing",
            "label": "Test mode"
          },
          {
            "value": "disabled",
            "label": "Disabled"
          }
        ],
        "info": "Test mode displays your popup each time even after dismissing it. Switch to Enabled once you are happy with how your popup looks."
      },
      {
        "type": "header",
        "content": "Rich Text"
      },
      {
        "type": "select",
        "id": "align_text_rich",
        "label": "Text alignment for Rich Text",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title_rich",
        "label": "Heading for Rich Text",
        "default": "Rich text heading"
      },
      {
        "id": "text_rich",
        "type": "richtext",
        "label": "Rich Text Detailed",
        "default": "<p>Detailed Rich text</p>"
      },
      {
        "type": "header",
        "content": "First Four Blocks"
      },
      {
        "type": "select",
        "id": "align_text_A",
        "label": "Alignment of First Four Blocks",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_image_1",
        "label": "Show 1st image of First 4 Blocks",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "1st Image of First 4 Blocks"
      },
      {
        "type": "text",
        "id": "title_1",
        "label": "1st Heading of First 4 Blocks",
        "default": "Example title 1"
      },
      {
        "type": "richtext",
        "id": "text_1",
        "label": "1st Text of First 4 Blocks",
        "default": "<p>Add your descriptive text here.</p>"
      },
      {
        "type": "text",
        "id": "button_label_1",
        "label": "1st Button label of First 4 Blocks",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "1st Link of First 4 Blocks"
      },
      {
        "type": "checkbox",
        "id": "enable_image_2",
        "label": "Show 2nd image of First 4 Blocks",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "2nd Image of First 4 Blocks"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "2nd Heading of First 4 Blocks",
        "default": "Example title 2"
      },
      {
        "type": "richtext",
        "id": "text_2",
        "label": "2nd Text of First 4 Blocks",
        "default": "<p>Add your descriptive text here.</p>"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": "2nd Button label of First 4 Blocks",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "2nd Link of First 4 Blocks"
      },
      {
        "type": "checkbox",
        "id": "enable_image_3",
        "label": "Show 3rd image of First 4 Blocks",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "3rd Image of First 4 Blocks"
      },
      {
        "type": "text",
        "id": "title_3",
        "label": "3rd Heading of First 4 Blocks",
        "default": "Example title 3"
      },
      {
        "type": "richtext",
        "id": "text_3",
        "label": "3rd Text of First 4 Blocks",
        "default": "<p>Add your descriptive text here.</p>"
      },
      {
        "type": "text",
        "id": "button_label_3",
        "label": "3rd Button label of First 4 Blocks",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link_3",
        "label": "3rd Link of First 4 Blocks"
      },
      {
        "type": "checkbox",
        "id": "enable_image_4",
        "label": "Show 4th image of First 4 Blocks",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_4",
        "label": "4th Image of First 4 Blocks"
      },
      {
        "type": "text",
        "id": "title_4",
        "label": "4th Heading of First 4 Blocks",
        "default": "Example title 4"
      },
      {
        "type": "richtext",
        "id": "text_4",
        "label": "4th Text of First 4 Blocks",
        "default": "<p>Add your descriptive text here.</p>"
      },
      {
        "type": "text",
        "id": "button_label_4",
        "label": "4th Button label of First 4 Blocks",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link_4",
        "label": "4th Link of First 4 Blocks"
      },
      {
        "type": "header",
        "content": "Middle Block"
      },
      {
        "type": "select",
        "id": "align_text_B",
        "label": "Alignment of Middle Block",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_image_B",
        "label": "Show image of Middle Block",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_B",
        "label": "Image of Middle Block"
      },
      {
        "type": "text",
        "id": "title_B",
        "label": "Heading of Middle Block",
        "default": "Example title B"
      },
      {
        "type": "richtext",
        "id": "text_B",
        "label": "Text of Middle Block",
        "default": "<p>Add your descriptive text here.</p>"
      },
      {
        "type": "text",
        "id": "button_label_B",
        "label": "Button label of Middle Block",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link_B",
        "label": "Link of Middle Block"
      },
      {
        "type": "header",
        "content": "Last Four Blocks"
      },
      {
        "type": "select",
        "id": "align_text_C",
        "label": "Alignment of Last Four Blocks",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_image_5",
        "label": "Show 1st image of Last Four Blocks",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_5",
        "label": "1st Image of Last Four Blocks"
      },
      {
        "type": "text",
        "id": "title_5",
        "label": "1st Heading of Last Four Blocks",
        "default": "Example title 1"
      },
      {
        "type": "richtext",
        "id": "text_5",
        "label": "1st Text of Last Four Blocks",
        "default": "<p>Add your descriptive text here.</p>"
      },
      {
        "type": "text",
        "id": "button_label_5",
        "label": "1st Button label of Last Four Blocks",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link_5",
        "label": "1st Link of Last Four Blocks"
      },
      {
        "type": "checkbox",
        "id": "enable_image_6",
        "label": "Show 2nd image of Last Four Blocks",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_6",
        "label": "2nd Image of Last Four Blocks"
      },
      {
        "type": "text",
        "id": "title_6",
        "label": "2nd Heading of Last Four Blocks",
        "default": "Example title 2"
      },
      {
        "type": "richtext",
        "id": "text_6",
        "label": "2nd Text of Last Four Blocks",
        "default": "<p>Add your descriptive text here.</p>"
      },
      {
        "type": "text",
        "id": "button_label_6",
        "label": "2nd Button label of Last Four Blocks",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link_6",
        "label": "2nd Link of Last Four Blocks"
      },
      {
        "type": "checkbox",
        "id": "enable_image_7",
        "label": "Show 3rd image of Last Four Blocks",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_7",
        "label": "3rd Image of Last Four Blocks"
      },
      {
        "type": "text",
        "id": "title_7",
        "label": "3rd Heading of Last Four Blocks",
        "default": "Example title 3"
      },
      {
        "type": "richtext",
        "id": "text_7",
        "label": "3rd Text of Last Four Blocks",
        "default": "<p>Add your descriptive text here.</p>"
      },
      {
        "type": "text",
        "id": "button_label_7",
        "label": "3rd Button label of Last Four Blocks",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link_7",
        "label": "3rd Link of Last Four Blocks"
      },
      {
        "type": "checkbox",
        "id": "enable_image_8",
        "label": "Show 4th image of Last Four Blocks",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image_8",
        "label": "4th Image of Last Four Blocks"
      },
      {
        "type": "text",
        "id": "title_8",
        "label": "4th Heading of Last Four Blocks",
        "default": "Example title 4"
      },
      {
        "type": "richtext",
        "id": "text_8",
        "label": "4th Text of Last Four Blocks",
        "default": "<p>Add your descriptive text here.</p>"
      },
      {
        "type": "text",
        "id": "button_label_8",
        "label": "4th Button label of Last Four Blocks",
        "default": "Optional button"
      },
      {
        "type": "url",
        "id": "button_link_8",
        "label": "4th Link of Last Four Blocks"
      }


    ],
    "blocks": []
  }
{% endschema %}
