{% style %}
 {% if section.settings.box_shadow %}
   .grid.flex-grid {
     padding: 30px;
     margin-top: -30px;
   }
   .grid__item .shadow {
     padding: 50px 30px;
     box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
     height: 100%;
   }
 {% endif %}
{% endstyle %}

{%- if section.settings.mode != 'disabled' -%}

<div
  id="NewsletterPopup-{{ section.id }}"
  class="modal modal--square modal--mobile-friendly"
  data-section-id="{{ section.id }}"
  data-section-type="newsletter-popup"
  {% comment %} data-delay-days="{{ section.settings.popup_days }}" {% endcomment %}
  {% comment %} data-delay-seconds="{{ section.settings.popup_seconds }}" {% endcomment %}
  data-test-mode="{% if section.settings.mode == 'testing' %}true{% else %}false{% endif %}">
  <div class="modal__inner">
    <div class="modal__centered medium-up--text-center">
      <div class="modal__centered-content">

        <div class="newsletter">
          {%- if section.settings.popup_title != blank -%}
            <h3>{{ section.settings.popup_title }}</h3>
          {%- endif -%}

          {%- if section.settings.popup_text != blank -%}
            <div class="rte">
              {{ section.settings.popup_text }}
            </div>
          {%- endif -%}



          <!-- <div class="grid flex-grid {% unless section.blocks.size == 5 %} grid--uniform{% endunless %} grid--flush-bottom">
            {%- liquid
              assign grid_item_width = 'medium-up--one-third'
              case section.blocks.size
                when 1
                  assign grid_item_width = ''
                when 2
                  assign grid_item_width = 'medium-up--one-half'
                when 4
                  assign grid_item_width = 'medium-up--one-quarter'                
                when 8
                  assign grid_item_width = 'medium-up--one-quarter'
              endcase
            -%}
            {%- for block in section.blocks -%}
            {% assign popup_counter = popup_counter | plus: 1 %}
              {%- if section.blocks.size == 5 and forloop.index < 3 -%}
                {%- assign column_width = 'medium-up--one-half' -%}
              {%- else -%}
                {%- assign column_width = grid_item_width -%}
              {%- endif -%}
              <div class="grid__item {{ column_width }} text-{{ section.settings.align_text }}" {{ block.shopify_attributes }} data-aos="row-of-3">
                <div class="shadow">
                
                {%- if block.settings.enable_image -%}
                  <div style="{% if section.settings.align_text == 'center' %}margin: 0 auto;{% endif %} max-width: {{ block.settings.image_width }}px;">
                    {%- if block.settings.button_link != blank -%}
                      <a href="{{ block.settings.button_link }}">
                    {%- endif -%}
                    {%- if block.settings.image != blank -%}
                      <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        {%- assign width_image_1 = block.settings.image_width_1 | times: 2 -%}
                        
                        <img class="lazyload"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900, 1080]"
                            data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="{{ block.settings.image.alt }}">
                      </div>
                    {%- else -%}
                      <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                    {%- endif -%}
                    {%- if block.settings.button_link != blank -%}
                      </a>
                    {%- endif -%}
                  </div>
                {%- endif -%}
                {%- if block.settings.title != blank -%}
                  <h3>{{ block.settings.title }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte-setting text-spacing">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.button_label != blank -%}
                  <a href="{{ block.settings.button_link }}" class="btn">
                    {{ block.settings.button_label }}
                  </a>
                {%- endif -%}
              </div>
              </div>
            {%- endfor -%}
          </div> -->


          

<!-- style this page content inside a gray box -->
<!-- {%- if section.settings.load_page -%}
  <div class="rte rte--nomargin">
    {{ pages.why-buy-vidlogix.content }}
  </div>
{%- endif -%} -->

{%- if section.settings.load_page -%}
<h3>TESTING</h3>
{% layout none %}
  <iframe src="https://vidlogix.com/pages/why-buy-vidlogix" 
     style="border:none; width:100%; max-width:100%;" >
  </iframe>
{%- endif -%}


<!-- use this as the anchor for the tooltip on files. maybe not. not loading the page again
BUT, still have to load the popup -->
<!-- <a href="/pages\/contact"  class="btn">
  {{ block.settings.button_text }}
</a> -->




        </div>
      </div>

      <button type="button" class="modal__close js-modal-close text-link">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
    </div>
  </div>
</div>

{%- endif -%}

{% schema %}
  {
    "name": "Why Buy Popup",
    "class": "index-section--hidden",
    "settings": [
      {
        "type": "select",
        "id": "mode",
        "label": "Display mode",
        "default": "disabled",
        "options": [
          {
            "value": "enabled",
            "label": "Enabled"
          },
          {
            "value": "testing",
            "label": "Test mode"
          },
          {
            "value": "disabled",
            "label": "Disabled"
          }
        ],
        "info": "Test mode displays your popup each time even after dismissing it. Switch to Enabled once you are happy with how your popup looks."
      },

 {
  "type": "checkbox",
  "id": "box_shadow",
  "label": "Add box shadow to each block"
},
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "popup_title",
        "label": "Heading",
        "default": "Sign up and save"
      },
      {
        "type": "richtext",
        "id": "popup_text",
        "label": "Text",
        "default": "<p>Entice customers to sign up for your mailing list with discounts or exclusive offers. Include an image for extra impact.</p>"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "load_page",
        "label": "Load page from Shopify backend",
        "default": true,
        "info": "This will load any content you have on Why-Buy-Vidlogix page from the pages in admin."
      }


    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "label": "Image width",
            "default": 650,
            "min": 60,
            "max": 650,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Optional button"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Why Buy Popup",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
